@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.heading {
  @apply text-3xl font-semibold text-center md:text-4xl xl:text-5xl md:text-left;
}

.gradient {
  @apply bg-gradient-to-r from-primary to-secondary;
}

.btn-primary {
  @apply inline-block px-10 py-2 font-medium uppercase transition-all duration-200 ease-linear border-2 rounded-full cursor-pointer border-primary text-primary hover:bg-primary hover:text-white;
}

.btn-white {
  @apply inline-block px-10 py-2 font-medium text-white uppercase transition-all duration-200 ease-linear border-2 border-white rounded-full cursor-pointer hover:bg-white hover:text-primary;
}
